

.fade-out {
  animation: fadeOut 1s forwards;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 1s; /* Delay to match the fade out animation */
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
